@font-face {
  font-family: 'icones';
  src: url(../font/icones.ttf);
}

body {
  background-color: #1D232A;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1D232A;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.header-menu i::before {
  content: "\e904";
  font-size: 24px;
}

.header-notification i::before {
  content: "\e906";
  font-size: 24px;
}

.header-logo {
  width: 40px;
}